/* Global styles for the profile page */
.profile-header {
  text-align: center;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Change the layout to a column for stacking the items */
  gap: 15px;
  /* Add space between the elements */
}

/* Avatar styling */
ion-avatar {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Styling for the "Modifier" button */
ion-button {
  font-size: 1rem;
  color: #4caf50;
  text-transform: uppercase;
  /* Give the button a clean, readable style */
  margin-top: 10px;
}

/* Styling for the profile name */
h2 {
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
}

/* Styling for the email and text info */
p {
  color: #555;
  font-size: 0.9rem;
}

/* Styling for the header */
ion-header {
  background-color: #4caf50;
  color: white;
  text-align: center;
}

ion-header ion-toolbar {
  --background: #4caf50;
  color: white;
}

ion-back-button {
  --color: white;
}

/* Styling for the cards containing the details */
ion-card {
  border-radius: 10px;
  margin: 20px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* List of actions buttons */
ion-list {
  margin-top: 20px;
}

ion-item {
  padding: 10px 15px;
  font-size: 1rem;
  border-bottom: 1px solid #f1f1f1;
}

ion-item:last-child {
  border-bottom: none;
}

/* Action buttons' icons */
ion-icon {
  font-size: 1.3rem;
  color: #4caf50;
  margin-right: 10px;
}

ion-item:hover {
  background-color: #f1f1f1;
}

/* FAB (Floating Action Button) positioning */
ion-fab-button {
  background-color: #3880ff;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

ion-fab-button:hover {
  background-color: #3171e7;
}

.modal-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
